---
---

body {
  font-family: "Roboto", sans-serif;
  background-color: #233814;
  color: #fff;

  .links {
    a {
      width: 70%;
      margin-top: 16px;
      background-color: #68b42e;
      align-self: center;
      font-size: 14px;

      &:hover {
        background-color: #59a221;
      }
    }

    @media only screen
      and (min-device-width: 920px) {
        a {
          width: 32%;
        }
      }
  }
}
