---
layout: default
---

<section class="projects-page">
  <div class="container text-center">
    <h1>Proyectos</h1>
  </div>
</section>

<section class="projects-list">
  <div class="container">
    <div class="projects">
      {% for project in site.data.projects %}
        <div class="project {{project.class_name}}">
          <a href="#" title="{{project.name}}">
            <img src="{{project.image}}" alt="{{project.name}}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include tawk_chat.html %}