<form class="" target="_self" enctype="multipart/form-data" action="https://formkeep.com/f/29485564c56b" accept-charset="UTF-8" method="post">
  <input type="hidden" name="subscribe_29485564c56b_41649" />

  <div class="row">
    <div class="form-group col-xs-12 col-md-8">
      <label title="required" for="name">Tu nombre *</label>
      <input
        type="text"
        name="name"
        id="name"
        required="required"
        class="form-control"
        placeholder="Escribe tu nombre"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-8">
      <label title="required" for="email">Correo electrónico *</label>
      <input
        type="email"
        name="email"
        id="email"
        required="required"
        class="form-control"
        placeholder="Escribe tu email"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-8">
      <label title="required" for="content">Dinos qué necesitas *</label>
      <textarea
        name="content"
        id="content"
        required="required"
        class="form-control"
        placeholder="Dinos cómo te ayudamos"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <input
        type="submit"
        value="Enviar"
        class="btn btn-block btn-primary"
        data-disable-with="Enviar"
      />
    </div>
  </div>

</form>
