<div class="row">
  <div class="col-xs-12 col-md-4">
    <h3 class="mb-4">Dev As Pros</h3>

    <p>
      <i class="fas fa-map-marker-alt"></i>
      Barranquilla, Colombia
    </p>
    <p>
      <i class="fas fa-envelope"></i>
      devaspros@gmail.com
    </p>
    <p>
      <i class="fas fa-mobile-alt"></i>
      301 397 2802
    </p>
    <p>
      <i class="fab fa-whatsapp"></i>
      <a href="https://wa.me/573013972802" target="_blank" rel="noreferrer noopener" style="color: #25D366;">Escríbenos por WhatsApp</a>
    </p>
  </div>
</div>
