<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 footer-logo">
        <img src="/images/devaspros-logo-transparency.png" alt="Dev As Pros Logo" class="logo">

        <p>
          &copy; 2018 - {{ 'now' | date: '%Y' }}
        </p>
      </div>

      <div class="col-sm-12 col-md-3 footer-links">
        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/services">Servicios</a>
          </li>
          <li>
            <a href="/proyectos">Proyectos</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact-us">Contacto</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 footer-links">
        <ul class="no-padding-left">
          <li>
            <a href="/mvp_development">Desarrollo de MVP</a>
          </li>
          <li>
            <a href="/web_app_development">Desarrollo de Aplicación Web</a>
          </li>
          <li>
            <a href="/proceso">Cómo Trabajamos</a>
          </li>
          <li>
            <a href="/precios">Precios</a>
          </li>
          <li>
            <a href="/nosotros">Nosotros</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 social-links">
<a href="https://twitter.com/devaspros" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.instagram.com/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-github-square"></i>
        </a>
      </div>

    </div>
  </div>
</footer>
