<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 footer-logo">
        <img src="/images/devaspros-logo-transparency.png" alt="Dev As Pros Logo" class="logo">

        <p>
          &copy; 2018 - {{ 'now' | date: '%Y' }}
        </p>
      </div>

      <div class="col-sm-12 col-md-3 footer-links">
        <h5 class="footer-titulo">Explorar</h5>
        <ul class="no-padding-left">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/proyectos">Proyectos</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact-us">Contacto</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 footer-links">
        <h5 class="footer-titulo"><a href="/services">Servicios</a></h5>
        <ul class="no-padding-left">
          <li>
            <a href="/mvp_development">Software a la Medida en 4 Semanas</a>
          </li>
          <li>
            <a href="/web_app_development">Aplicación Web Completa en 4 Meses</a>
          </li>
          <li>
            <a href="/desarrollo-ecommerce">Tienda Online</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3 footer-links">
        <h5 class="footer-titulo">Empresa</h5>
        <ul class="no-padding-left">
          <li>
            <a href="/proceso">Cómo Trabajamos</a>
          </li>
          <li>
            <a href="/nosotros">Nosotros</a>
          </li>
          <li>
            <a href="/precios">Precios</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-12 social-links">
        <a href="https://www.instagram.com/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/devaspros/" target="_blank" rel="noreferrer noopener">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>

  </div>
</footer>
