body {
  font-family: 'Roboto', sans-serif;
  background-color: $darkerDevAspros;
  color: $whiteDevAsPros;
}

nav.navbar {
  background-color: $darkerDevAspros;
}

.cta {
  background-color: $greenDevAsPros;
  border-color: $greenDevAsPros;

  &:hover {
    background-color: $greenDevAsPros;
    border-color: $greenDevAsPros;
  }
}

footer {
  padding: 80px 0;
  height: 350px;

  li {
    list-style: none;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: $whiteDevAsPros;
    &:hover {
      text-decoration: none;
      color: $whiteDevAsPros;
    }
  }

  .social-links {
    a {
      margin-right: 8px;

      i {
        font-size: 24px;
      }
    }
  }
}