body {
  font-family: 'Roboto', sans-serif;
  background-color: $darkerDevAspros;
  color: $whiteDevAsPros;
}

nav.navbar {
  background-color: $darkerDevAspros;
}

.cta {
  background-color: $greenDevAsPros;
  border-color: $greenDevAsPros;

  &:hover {
    background-color: $greenDevAsPros;
    border-color: $greenDevAsPros;
  }
}

footer {
  height: 350px;
}