.intro, .what-we-do, .work, .contact {
  height: 100vh;
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
}

.intro {
  background-color: $lightDarkGreyDevAsPros;
  padding-top: 250px;

  .cta {
    margin-top: 50px;
  }
}

.intro, .contact {
  color: $whiteDevAsPros;
}

.what-we-do, .work, .contact {
  padding: 80px 0;
}

.what-we-do {
  h2 {
    margin-bottom: 40px;
  }
}

.contact {
  background-color: $lightDarkGreyDevAsPros;
  h2 {
    margin-bottom: 40px;
  }
}
