.intro, .what-we-do, .work, .contact {
  height: 100vh;
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
}

.intro {
  background-color: $lightDarkGreyDevAsPros;
  padding-top: 230px;

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .cta {
    margin-top: 60px;
  }
}

.intro, .contact {
  color: $whiteDevAsPros;
}

.what-we-do, .work, .contact {
  padding: 80px 0;
}

.what-we-do {
  h2 {
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.75rem;
  }
}

.work {
  h2 {
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: bold;
  }
}

.contact {
  background-color: $lightDarkGreyDevAsPros;
  background-image: url('../images/prism.png');

  h2 {
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: bold;
  }
}
