.intro, .what-we-do, .work, .contact {
  height: 100vh;
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
}

.intro {
  background-color: $lightDarkGreyDevAsPros;
  padding-top: 150px;
}

.contact {
  background-color: $lightDarkGreyDevAsPros;
}

.intro, .contact {
  color: $whiteDevAsPros;
}