@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .intro {
      .container {
        padding-top: 100px;
      }

      h1 {
        font-size: 2rem;
      }
    }

    .what-we-do, .work, .contact {
      height: auto;
    }

    .work {
      .projects {
        .project {
          width: 100%;
        }
      }
    }

    .typeform-widget {
      width: 294px !important;
      height: 340px !important;
    }
}