.projects-page {
  color: $whiteDevAsPros;
  height: 50vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkGreenDevAsPros;
    background-image: url('../images/projects.bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    filter: opacity(0.2) blur(3px);
  }

  .container {
    position: relative;
    padding-top: 200px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
}

.projects-list {
  background-color: $whiteDevAsPros;
  height: auto;
  color: $greyDevAsPros;
  padding: 80px 0;

  .project-image {
    width: 100%;
    height: auto;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;

    .project {
      width: 20%;
      height: 20vw;

      a {
        padding: 0 20px;
        position: relative;
        width: 100%;
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
        }
      }

      &.etom {
        background-color: #000;
      }

      &.motoapp {
        background-color: #f2be8d;
      }

      &.letom {
        background-color: #9c28b1;
      }
    }
  }
}
