.services-page {
  background-color: $darkGreenDevAsPros;
  background-image: url('../images/edges.png');
  color: $whiteDevAsPros;
  height: 50vh;

  .container {
    position: relative;
    padding-top: 200px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
}

.tiers-list {
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
  height: 70vh;
  padding-top: 80px;
  padding-bottom: 40px;

  .tiers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;

    .tier {
      position: relative;
      width: 50%;
      text-align: center;
      padding: 10px 30px;

      h3, h5, p {
        margin-bottom: 12px;
      }

      i {
        font-size: 3.75rem;
        margin-bottom: 18px;
      }

      p {
        margin-bottom: 20px;
        line-height: 1.8;
      }

      .mvp {
        color: $railsRed;
      }

      .release {
        color: $greenDevAsPros;
      }

      .mvp-cta {
        background-color: $railsRed;
        border-color: $railsRed;
        margin-top: 4px;

        &:hover {
          background-color: $railsRed;
          border-color: $railsRed;
          opacity: 0.7;
        }
      }

      .cta {
        margin-top: 4px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.services-list {
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
  padding-top: 40px;
  padding-bottom: 40px;

  .services {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: auto;
    }

    .service {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8rem;

      .service-image {
        width: 45%;
        padding: 10px 0;
      }

      .service-description {
        width: 55%;
        padding: 10px 60px;
      }
    }

    .rails {
      a {
        color: $railsRed;
      }
    }

    .react {
      .service-image {
        background-color: $darkerDevAspros;
        padding: 24px 0;

        img {
          width: 30%;
        }
      }

      a {
        color: $reactBlue;
        background-color: $darkerDevAspros;
      }
    }
  }
}

.tech {
  background-color: $whiteDevAsPros;
  color: $greyDevAsPros;
  height: 30vh;
  padding-bottom: 40px;

  .tech-stack {
    margin-top: 40px;
  }

  img {
    width: 100%;
  }
}
