@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .services-page {
      height: 26vh;

      .container {
        padding-top: 114px;
      }
    }

    .services-list, .tech {
      height: auto;
    }

    .tech img {
      width: 30%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .services-page {
      height: 70vh;

      .container {
        padding-top: 114px;
      }
    }
   
    .services-list, .tech {
      height: auto;
    }
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 740px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .services-page {
      height: 70vh;

      .container {
        padding-top: 114px;
      }
    }
   
    .services-list, .tech {
      height: auto;
    }

    .services-list {
      .services {
        .service {
          flex-direction: column;

          .service-image, .service-description {
            width: 100%;
          }
        }

        .react {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }

    .tech img {
      width: 40%;
    }
}

@media screen 
  and (min-device-width: 320px) 
  and (min-device-width: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .services-page {
      height: 70vh;

      .container {
        padding-top: 114px;
      }
    }

    .services-list, .tech {
      height: auto;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .services-page {
      height: 70vh;

      .container {
        padding-top: 114px;
      }
    }

    .services-list, .tech {
      height: auto;
    }

    .services-list {
      .services {
        .service {
          .service-image, .service-description {
            width: 100%;
          }
        }
      }
    }
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .services-list, .tech {
      height: auto;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .services-page {
      height: 42vh;

      .container {
        padding-top: 114px;
      }
    }

    .services-list, .tech {
      height: auto;
    }

    .services-list {
      .services {
        .service {
          flex-direction: column;

          .service-image, .service-description {
            width: 100%;
          }
        }

        .react {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
}