// See color palette at https://coolors.co/68b42e-305215-070903-f7f7ff-46483f

$darkerDevAspros: #111608;
$whiteDevAsPros: #f7f7ff;
$greenDevAsPros: #68b42e;
$darkGreenDevAsPros: #305215;
$greyDevAsPros: #46483f;
$lightDarkGreyDevAsPros: #898a84;
$railsRed: #cc0000;
$reactBlue: #61dafb;

$copyFontSize: 1.225rem;
